@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior:smooth;
    font-family: 'Pacifico', cursive,'Poppins', sans-serif; 
    

}
:root{
    --bg-color: #300839;
    --second--bg-color: #780b90;
    --text-color: #9a6a90;
    --main-color: #f4e1d2;
    
}

html{
    font-size: 65%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    top: 0;
    left: 0;
    width: 100;
    padding: 2rem 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100px;
    
}

.heading{
    font-size: 2.5rem;
    color: var(--text-color);
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 1s;
}

.navbar a:hover,.navbar a.initialpage{
    color: var(--main-color);
}

#menu-icon{
    font-size: 4rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2em;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}
.home-content{
    padding-left: 6%;
    max-width: 60rem;
}
.home-content h1{
    font-size: 5.5rem;
    font-weight: 650;
    line-height: 1.2;
}
.home-content .traits-animate{
    position: relative;
    width: 40rem;
}
.home-content .traits-animate h3{
    font-size: 3rem;
    font-weight: 650;
    color: transparent;
    -webkit-text-stroke: .5px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    margin: 2rem 0 4rem;
}
.resume-div{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.resume-div .resume{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    border-radius: 500px;
    font-size: 1.3rem;
    font-weight: 600;
    background: var(--main-color);
    letter-spacing: .1rem;
    color: var(--second--bg-color);
    z-index: 1;
    overflow: hidden;
}

.resume-div .resume::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--text-color);
    z-index: -1;
    transition: .5s;
}
.resume-div .resume:hover::before{
    width: 100%;
}

.resume-div .resume:hover{
       background: var(--second--bg-color);
       color: var(--main-color);
}
